.statistic{
	display:block;
	border:1px solid #224c7e;
	margin:0 auto;
	width:95%;
	overflow-x:auto;
	color:#0076ff;
	font-size:16px;
	padding:37px 25px 0px;
	position:relative;
	// background:#142030;
	position:relative;
	&-title{
		background:#0e2a4c;
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:25px;
		line-height: 25px;
		color:#fff;
		img{
			display: inline-block;
			width:12px;
			height:12px;
			margin:0px 12px;
		}
		span{
			margin-left: 5rem;
			display: inline-block;
			text-align: center;
			font-size: 14px;
			// postion:absolute;
			// top:5px;
			// right:5px;
		}

	}
	&-container{
		ul{
			padding:0px;
			margin:0 auto;
			width:100%;
			// float:left;
			display: flex;
			display:-webkit-flex;
			-webkit-flex-wrap:wrap;
			// -webkit-justify-content: space-between;
			flex-wrap:wrap;
			// justify-content: space-between;
			a{
				color:#fff;
				text-decoration: none;
			}
			li{
				&:hover{
					opacity: 0.8;
					cursor:pointer;
				}
				color:#fff;
				padding:0px;
				margin:0px;
				list-style:none;
				border:1px solid #0076ff;
				height:66px;
				line-height: 66px;
				width:22%;
				margin:0 1.5% 28px;
			    position:relative;
			  
				.ip{
					position:absolute;
					top:0px;
					left:10px;
					width:40%;
					font-size: 14px;
				}
				.gpu{
					position:absolute;
					top:27px;
					right:5px;
					width:52%;
					padding:0px;
					margin:0px;
					float:left;
					li{
						width:1rem;
						height:1rem;
						margin-left: 2px;
						border:1px solid #0076ff;
					}
					&-on{
						
						background:#0076ff;
						
					}
					&-off{
						background:#13243a;

					}
				}
			}

		}
	}
}